anthropic==0.25.6
fastapi>0.105.0
uvicorn[standard]==0.20.0
anyio==3.7.1
bs4
firebase-admin==6.2.0
google-ai-generativelanguage
google-cloud-documentai
google-generativeai
google-search-results==2.4.2
langchain>0.1.0
langchainhub
langchain-openai>0.0.4
langchain-community
langchain-experimental
langchainhub
langfuse>=2.33.0
libmagic
openai>1.30.2
pandoc
poppler-utils
pip>=23.3
pydantic>=2.7.1
python-multipart==0.0.9
requests==2.31.0
pymilvus==2.4.4
sentence-transformers==2.6.1
serpapi
pypdf
unstructured[all-docs]
voyageai
psutil